<form method="post" action="{{ path('produit_magasin_delete', {'id': produit_magasin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_magasin.id) }}">
    <button class="btn">Delete</button>
</form>
